.banner_main {
  display: flex;
  justify-content: space-between;
  padding: 100px 0px;
}

.text {
  margin-top: 40px;
  padding-bottom: 146px;
}
.text h1 {
  color: #313131 !important;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: -2.56px;
  width: 681px;
}

.text p {
  color: #6b6b6b;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 155.556% */
  margin-top: 25px;
  margin-bottom: 45px;
  width: 541px;
}

.img {
  position: absolute;
  top: 20px;
  right: 0px;
}

.b_fi {
  border-radius: 40px 5px;
  background: #18a7b9;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(24, 167, 185, 0.02),
    0px 8.14815px 6.51852px 0px rgba(24, 167, 185, 0.04),
    0px 20px 13px 0px rgba(24, 167, 185, 0.05),
    0px 38.51852px 25.48148px 0px rgba(24, 167, 185, 0.06),
    0px 64.81481px 46.85185px 0px rgba(24, 167, 185, 0.08);
  padding: 20px 70px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 117.647% */
  letter-spacing: -0.5px;
  margin-right: 20px;
}
.b_se {
  border-radius: 40px 5px;
  background: transparent;
  border: 1px solid #18a7b9;
  padding: 18px 60px;
  color: #18a7b9;
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 117.647% */
  letter-spacing: -0.5px;
}

.shape {
  position: absolute;
  bottom: 548px;
  right: 505px;
}
