.contrac {
  padding: 100px 0;
  background: #fff;
}
.t_te {
  text-align: center;
}
.t_te h1 {
  color: #313131 !important;
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 103.704% */
}
.t_te p {
  color: #6b6b6b;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  width: 672px;
  margin: auto;
  margin-top: 16px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}
form {
  padding: 20px 30px;
}

input {
  width: 70%;
  padding: 18px 6px;
  border-radius: 6px;
  border: 1px solid #f4f4f4;
  margin-bottom: 20px;
}
textarea {
  width: 70%;
  padding: 32px 6px;
  border-radius: 6px;
  border: 1px solid #f4f4f4;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  border-radius: 40px 5px;
  background: #18a7b9;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(24, 167, 185, 0.02),
    0px 8.14815px 6.51852px 0px rgba(24, 167, 185, 0.04),
    0px 20px 13px 0px rgba(24, 167, 185, 0.05),
    0px 38.51852px 25.48148px 0px rgba(24, 167, 185, 0.06),
    0px 64.81481px 46.85185px 0px rgba(24, 167, 185, 0.08);
  padding: 20px 70px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 117.647% */
  letter-spacing: -0.5px;
  margin-right: 320px;
  margin-top: 20px;
}
.right img {
  width: 620px;
}
